<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Kanata Aikikai - About Us</title>
<link href="images/styles.css" rel="stylesheet" type="text/css" />
<!--[if gte IE 9]>
<link href="images/stylesie.css" rel="stylesheet" type="text/css" />
<![endif]-->

<link rel="stylesheet" type="text/css" href="ubergallery/UberGallery.css" />
<link rel="stylesheet" type="text/css" href="ubergallery/colorbox/1/colorbox.css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="ubergallery/colorbox/jquery.colorbox.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("a[rel='colorbox']").colorbox({maxWidth: "90%", maxHeight: "90%", opacity: ".5"});
});
</script>

</head>
<body style="background:url(images/bodybg-inner.png) repeat-x; background-color:#979797;">
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:30px;" >
  <tr>
    <td height="228" valign="top"><div style="margin-top:12px;"><img src="images/header-inner.png" width="960" height="230" /></div></td>
  </tr>
  <tr>
    <td><div class="menubar" style="margin-top:-1px;height:40px;padding:0 0 5px 0;">
  <table width="100%" height="40" border="0" align="center" cellpadding="0" cellspacing="0" style="margin0px; padding:0px;" >
    <tr style="vertical-align:middle;">
      <td class="menuitem" align="center"><a class="menuitem" href="index.php">HOME</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="about.php">ABOUT AIKIDO</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="sensei.php">INSTRUCTORS</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="classes.php">CLASSES</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="gallery.php">GALLERY</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="resources.php">RESOURCES</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="contact.php#map">FIND US</a></td>
    </tr>
  </table>
</div>
</td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td></td>
          </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="10" cellpadding="0">
        <tr>
          <td style="vertical-align:top;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>


<h2 class="red-text">General Aikido Pictures</h2>

<p class="contents"><!-- Start UberGallery 2.4.4 - Copyright (c) 2022 Chris Kankiewicz (http://www.ChrisKankiewicz.com) -->
<div id="galleryWrapper">
    
            
        <ul id="galleryList" class="clearfix">
            
                            <li><a href="galleries/General Aikido Pictures/1_jpg.jpg" title="1 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-1e1ec3c17bc690ac747d1eab2960c718.jpg" alt="1 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/3_jpg.jpg" title="3 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-a2c027250a0af26463b9f1ee57d169d9.jpg" alt="3 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/5_jpg.jpg" title="5 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-b196c171fc9f5f9ae89d6db4f0bf18c2.jpg" alt="5 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/6_jpg.jpg" title="6 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-b7abf6df8759d55e4299a3962fee4b7e.jpg" alt="6 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/8_jpg.jpg" title="8 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-85c6115e2a0028e6d6048aae9b3e25e0.jpg" alt="8 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/11_jpg.jpg" title="11 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-88fb387eac8f13d11441a8ebfcc578df.jpg" alt="11 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Action1_jpg.jpg" title="Action1 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-fa481288816ab0a910c77a50e7a9f66f.jpg" alt="Action1 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Action3_jpg.jpg" title="Action3 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-05c235c40616a76e3413dec8970ae8f5.jpg" alt="Action3 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Action5_jpg.jpg" title="Action5 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-ffcebdba113502d7855eb19d55ac3e72.jpg" alt="Action5 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Action10_jpg.jpg" title="Action10 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-6ae840fd7e688496c5cabdd57165c09f.jpg" alt="Action10 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/akiy1_jpg.jpg" title="akiy1 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-638d8fc358cc80631f5ee0e579ddea40.jpg" alt="akiy1 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/akiy2_jpg.jpg" title="akiy2 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-4d325c4f7b94ae2906c8d562668f8e8c.jpg" alt="akiy2 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/akiy3_jpg.jpg" title="akiy3 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-96ddf19e5be5099ed46e4b0cfc5be84f.jpg" alt="akiy3 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Dojo1_jpg.jpg" title="Dojo1 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-f43dd9a7f6a8d1d10ac9680278e97fae.jpg" alt="Dojo1 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/dojo2_JPG.jpg" title="dojo2 JPG" rel="colorbox"><img src="ubergallery/cache/100x100-75-31abcc81827c24713c4b81b536f55f1e.jpg" alt="dojo2 JPG"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/doshu_jpg.jpg" title="doshu jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-b2d32f0edbb482d7141a08d435bd6f5c.jpg" alt="doshu jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/group03_jpg.jpg" title="group03 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-1561f13e5fa5ab923e40f10e7e0ae931.jpg" alt="group03 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/group04_jpg.jpg" title="group04 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-577c4a34ca9fe60a95e9bea515b74775.jpg" alt="group04 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00003_jpg.jpg" title="Img00003 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-a0810c0f89484f5f6f4a1decb951f499.jpg" alt="Img00003 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00004_jpg.jpg" title="Img00004 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-e7a165190b54b83437aebb300866013b.jpg" alt="Img00004 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00005_jpg.jpg" title="Img00005 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-ce57891d48d1365b3d895b86fecc574f.jpg" alt="Img00005 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00006_jpg.jpg" title="Img00006 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-0ed616db55e28eedabfe056ab4246a0b.jpg" alt="Img00006 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00007_jpg.jpg" title="Img00007 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-d8b973be624dee07560cd4e1ec757542.jpg" alt="Img00007 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/img00008d.jpg" title="img00008d" rel="colorbox"><img src="ubergallery/cache/100x100-75-25ab7a3468246f11b072838cf41f8dff.jpg" alt="img00008d"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00009_jpg.jpg" title="Img00009 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-c9668ef06cf629b0aaa144e24f52589a.jpg" alt="Img00009 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00010_jpg.jpg" title="Img00010 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-880fe9061c1b904870c196f0b822aa55.jpg" alt="Img00010 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00011_jpg.jpg" title="Img00011 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-659a7f5e5f67fc8ca6cc63cc8030022f.jpg" alt="Img00011 jpg"/></a></li>
                            <li><a href="galleries/General Aikido Pictures/Img00012_jpg.jpg" title="Img00012 jpg" rel="colorbox"><img src="ubergallery/cache/100x100-75-3bbbdfd446ac4869820432ed46cd5de8.jpg" alt="Img00012 jpg"/></a></li>
                        
        </ul>
        
        
    
            <div id="galleryFooter" class="clearfix">

            
            <ul id="galleryPagination">
            
                                    <li class="title">
                                                    Page 1 of 3                                            </li>
                                    <li class="inactive">
                                                    &lt;                                            </li>
                                    <li class="current">
                                                    1                                            </li>
                                    <li class="active">
                                                    <a href="?page=2&album=General Aikido Pictures">2</a>
                                            </li>
                                    <li class="active">
                                                    <a href="?page=3&album=General Aikido Pictures">3</a>
                                            </li>
                                    <li class="active">
                                                    <a href="?page=2&album=General Aikido Pictures">&gt;</a>
                                            </li>
                            
            </ul>
            

        </div>
        
</div>
<!-- End UberGallery - Distributed under the MIT license: http://www.opensource.org/licenses/mit-license.php --></p>

<p class="contents">Click <a href="gallery.php">here</a> to return to the main gallery.</p>

<div id="credit"><p class="contents">Gallery powered by <a href="http://www.ubergallery.net">UberGallery</a></p></div>

		</td>
              </tr>
            </table>
          </td>
                    <!--<td width="240" valign="top">
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td>
                  <div class="border-radius blue-g" style="height:135px; margin-right:-10px;">
                  <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                      <td width="49%"><img src="images/gallery-icn.png" width="111" height="107" /></td>
                      <td width="51%" valign="top"><img style="padding-top:25px;" src="images/photo-gal-text.png" width="98" height="52" /><br />
                        <div style="padding-top:10px;"><a  class="more" href="gallery.php">Click Here...</a>   </div>
                      </td>
                    </tr>
                  </table>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="border-radius" style="height:135px; background:#e7e7e7; margin-right:-10px; margin-top:10px;">
                  <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                      <td width="49%"><img src="images/map-icn.png" width="98" height="118" /></td>
                      <td width="51%" valign="top"><img border="0" style="padding-top:25px;" src="images/find-us.png" width="94" height="52" /><br />
                        <div style="padding-top:10px;">-->
			  <!--<a class="more" href="http://maps.google.com/maps?daddr=45+Liston+Crescent,+Kanata,+ON,+Canada,+K2L2W3&hl=en" target="_blank">Click Here...</a>-->
			  <!--<a class="more" href="contact.php#map" target="_blank">Click Here...</a>
			</div>
                      </td>
                    </tr>
                  </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>-->
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footwrapper">
<div style="width:100%;">
  <div class="footerbar" style="width:98%;margin: 0 auto;">
    <table width="98%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" style="margin0px;padding:0px;" >
      <tr>
        <td width="20%" style="font: 12px/30px Arial,Helvetica,sans-serif;color:white;" align="left"><a href="index.php" style="color:white;">Home</a></td>
        <td style="font: 12px/30px Arial,Helvetica,sans-serif;color:white;" align="center">Copyright &copy; 2012, Kanata Aikikai. All Rights Reserved.</td>
        <td width="20%" style="font: 12px/30px Arial,Helvetica,sans-serif;color:white;" align="right">Design by <a href="http://www.worxstudio.com/" target="_blank" style="color:white;">WorxStudio.com</a></td>
      </tr>
    </table>
  </div>
</div>
</div>
</body>
</html>
