<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- saved from url=(0096)http://www.kanata-aikikai.com/album.php?album=19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Kanata Aikikai - About Us</title>
<link href="./album_19th_anniversary.erb_files/styles.css" rel="stylesheet" type="text/css">
<!--[if gte IE 9]>
<link href="images/stylesie.css" rel="stylesheet" type="text/css" />
<![endif]-->

<link rel="stylesheet" type="text/css" href="./album_19th_anniversary.erb_files/UberGallery.css">
<link rel="stylesheet" type="text/css" href="./album_19th_anniversary.erb_files/colorbox.css">
<script type="text/javascript" src="./album_19th_anniversary.erb_files/jquery.min.js"></script>
<script type="text/javascript" src="./album_19th_anniversary.erb_files/jquery.colorbox.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("a[rel='colorbox']").colorbox({maxWidth: "90%", maxHeight: "90%", opacity: ".5"});
});
</script>

</head>
<body style="background:url(images/bodybg-inner.png) repeat-x; background-color:#979797;">
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:30px;">
  <tbody><tr>
    <td height="228" valign="top"><div style="margin-top:12px;"><img src="./album_19th_anniversary.erb_files/header-inner.png" width="960" height="230"></div></td>
  </tr>
  <tr>
    <td><div class="menubar" style="margin-top:-1px;height:40px;padding:0 0 5px 0;">
  <table width="100%" height="40" border="0" align="center" cellpadding="0" cellspacing="0" style="margin0px; padding:0px;">
    <tbody><tr style="vertical-align:middle;">
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/index.php">HOME</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/about.php">ABOUT AIKIDO</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/sensei.php">INSTRUCTORS</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/classes.php">CLASSES</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/gallery.php">GALLERY</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/resources.php">RESOURCES</a></td>
      <td class="menuitem" align="center"><a class="menuitem" href="http://www.kanata-aikikai.com/contact.php#map">FIND US</a></td>
    </tr>
  </tbody></table>
</div>
</td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td></td>
          </tr>
      </tbody></table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="10" cellpadding="0">
        <tbody><tr>
          <td style="vertical-align:top;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td>


<h2 class="red-text">19th Dojo Anniversary Seminar and Dinner</h2>

<p class="contents"><!-- Start UberGallery 2.4.4 - Copyright (c) 2022 Chris Kankiewicz (http://www.ChrisKankiewicz.com) -->
</p><div id="galleryWrapper">
    
            
        <ul id="galleryList" class="clearfix">
            
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%201_JPG.jpg" title="din 1 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-d673e63feb8ee3e964dc49c3054273ba.jpg" alt="din 1 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%202_JPG.jpg" title="din 2 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-6732fdae47323ba2e91199bad06813e2.jpg" alt="din 2 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%203_JPG.jpg" title="din 3 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-7476111b75997631bc5f9f897737367c.jpg" alt="din 3 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%204_JPG.jpg" title="din 4 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-d7f2c9947e110b9ef98408d603bc45cd.jpg" alt="din 4 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%205_JPG.jpg" title="din 5 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-c91f377fae999ff5aea5a7ab033d5a43.jpg" alt="din 5 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%206_JPG.jpg" title="din 6 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-7d4d213ed8edbe8e58dbe405ad14f4ee.jpg" alt="din 6 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/din%207_JPG.jpg" title="din 7 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-aa41cd71efad1f2fe6329e0e0c59f6c3.jpg" alt="din 7 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/Sem%201_JPG.jpg" title="Sem 1 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-c9f3995a780041d0c508b29a00743d84.jpg" alt="Sem 1 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/Sem%202_JPG.jpg" title="Sem 2 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-7f831194681afe1498b1fe719d4a10f0.jpg" alt="Sem 2 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%203_JPG.jpg" title="sem 3 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-c927f4394d36a82db493ce521d48c463.jpg" alt="sem 3 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%204_JPG.jpg" title="sem 4 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-c8a44fc269697a2740d0ca64316ef132.jpg" alt="sem 4 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%205_JPG.jpg" title="sem 5 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-92e13592f792f31548567e6236a9e99f.jpg" alt="sem 5 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%206_JPG.jpg" title="sem 6 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-4d16b27cafc7a6840533ca05be6d848c.jpg" alt="sem 6 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%207_JPG.jpg" title="sem 7 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-a2f760c38361afa86f821bc6d19272a8.jpg" alt="sem 7 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%208_JPG.jpg" title="sem 8 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-d0897a3c4506031761cdb5f2554f4df3.jpg" alt="sem 8 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%209_JPG.jpg" title="sem 9 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-6dae76aa0fba835c3a0dba45504d121a.jpg" alt="sem 9 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2010_JPG.jpg" title="sem 10 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-4f6a5dacbd14c660bd73f297ab20a9ec.jpg" alt="sem 10 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2011_JPG.jpg" title="sem 11 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-122d13d8e5160a33c2a5f4afeb99c809.jpg" alt="sem 11 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2014_JPG.jpg" title="sem 14 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-a77874018ceaf5f8365cca1499bd9d61.jpg" alt="sem 14 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2015_JPG.jpg" title="sem 15 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-1f1e2f94911c7841015dfdf4832813af.jpg" alt="sem 15 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2016_JPG.jpg" title="sem 16 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-35a35dab4391d9f8a765710e24bc2ee2.jpg" alt="sem 16 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2017_JPG.jpg" title="sem 17 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-8925e82120a909553d318582c9497432.jpg" alt="sem 17 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2018_JPG.jpg" title="sem 18 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-2ada5cf5d4caf9e02fe11bd4789eb423.jpg" alt="sem 18 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2019_JPG.jpg" title="sem 19 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-bf22cfc940177954173b3e6f89a2ea9f.jpg" alt="sem 19 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2020_JPG.jpg" title="sem 20 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-523f55f32c7b7c2accb459ac596ba06d.jpg" alt="sem 20 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2021_JPG.jpg" title="sem 21 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-2669afd3b375b5e4aa847438cc2bb6a5.jpg" alt="sem 21 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2022_JPG.jpg" title="sem 22 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-36e2af21862a585eaafffcbbf357266a.jpg" alt="sem 22 JPG"></a></li>
                            <li><a href="http://www.kanata-aikikai.com/galleries/19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner/sem%2023_JPG.jpg" title="sem 23 JPG" rel="colorbox" class="cboxElement"><img src="./album_19th_anniversary.erb_files/100x100-75-4a0a499be59fc034a6e1ed7a4121a93e.jpg" alt="sem 23 JPG"></a></li>
                        
        </ul>
        
        
    
            <div id="galleryFooter" class="clearfix">

            
            <ul id="galleryPagination">
            
                                    <li class="title">
                                                    Page 1 of 2                                            </li>
                                    <li class="inactive">
                                                    &lt;                                            </li>
                                    <li class="current">
                                                    1                                            </li>
                                    <li class="active">
                                                    <a href="http://www.kanata-aikikai.com/album.php?page=2&amp;album=19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner">2</a>
                                            </li>
                                    <li class="active">
                                                    <a href="http://www.kanata-aikikai.com/album.php?page=2&amp;album=19th%20Dojo%20Anniversary%20Seminar%20and%20Dinner">&gt;</a>
                                            </li>
                            
            </ul>
            

        </div>
        
</div>
<!-- End UberGallery - Distributed under the MIT license: http://www.opensource.org/licenses/mit-license.php --><p></p>

<p class="contents">Click <a href="http://www.kanata-aikikai.com/gallery.php">here</a> to return to the main gallery.</p>

<div id="credit"><p class="contents">Gallery powered by <a href="http://www.ubergallery.net/">UberGallery</a></p></div>

		</td>
              </tr>
            </tbody></table>
          </td>
                    <!--<td width="240" valign="top">
            <table width="100%" border="0" cellspacing="5" cellpadding="0">
              <tr>
                <td>
                  <div class="border-radius blue-g" style="height:135px; margin-right:-10px;">
                  <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                      <td width="49%"><img src="images/gallery-icn.png" width="111" height="107" /></td>
                      <td width="51%" valign="top"><img style="padding-top:25px;" src="images/photo-gal-text.png" width="98" height="52" /><br />
                        <div style="padding-top:10px;"><a  class="more" href="gallery.php">Click Here...</a>   </div>
                      </td>
                    </tr>
                  </table>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="border-radius" style="height:135px; background:#e7e7e7; margin-right:-10px; margin-top:10px;">
                  <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                      <td width="49%"><img src="images/map-icn.png" width="98" height="118" /></td>
                      <td width="51%" valign="top"><img border="0" style="padding-top:25px;" src="images/find-us.png" width="94" height="52" /><br />
                        <div style="padding-top:10px;">-->
			  <!--<a class="more" href="http://maps.google.com/maps?daddr=45+Liston+Crescent,+Kanata,+ON,+Canada,+K2L2W3&hl=en" target="_blank">Click Here...</a>-->
			  <!--<a class="more" href="contact.php#map" target="_blank">Click Here...</a>
			</div>
                      </td>
                    </tr>
                  </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>-->
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
<div class="footwrapper">
<div style="width:100%;">
  <div class="footerbar" style="width:98%;margin: 0 auto;">
    <table width="98%" height="30" border="0" align="center" cellpadding="0" cellspacing="0" style="margin0px;padding:0px;">
      <tbody><tr>
        <td width="20%" style="font: 12px/30px Arial,Helvetica,sans-serif;color:white;" align="left"><a href="http://www.kanata-aikikai.com/index.php" style="color:white;">Home</a></td>
        <td style="font: 12px/30px Arial,Helvetica,sans-serif;color:white;" align="center">Copyright © 2012, Kanata Aikikai. All Rights Reserved.</td>
        <td width="20%" style="font: 12px/30px Arial,Helvetica,sans-serif;color:white;" align="right">Design by <a href="http://www.worxstudio.com/" target="_blank" style="color:white;">WorxStudio.com</a></td>
      </tr>
    </tbody></table>
  </div>
</div>
</div>


<div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" style="display: none; visibility: visible;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxLoadedContent" style="width: 0px; height: 0px; overflow: hidden; float: left;"></div><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><div id="cboxNext" style="float: left;"></div><div id="cboxPrevious" style="float: left;"></div><div id="cboxSlideshow" style="float: left;"></div><div id="cboxClose" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div></body></html>